body{
  background-color: blue;
}
nav ul{
  display: flex;
  
}
nav{
  background-color: #fff;
  box-shadow: 3px 3px #fff;
}
nav ul li{
  margin: 10px;
  list-style: none;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  
}
.card-shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.list-table{
  background-color: #fff;
}

.c-search{
  background-color: #fff;
}
.my-row{
  display: flex;
  justify-content: center;
}
.static-card{
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh; 
  
}
.chif{
  color: blue;
}
.input-sh{
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent;
}
.container-search{
  display: flex;
  justify-content: space-evenly;
}
.modal-width {
  width: 70%;
}
.lespage {
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: #fff;
}